XRPL_NODE=wss://s.altnet.rippletest.net:51233
BUYER_SEED="<Your XRPL Testnet Buyer Seed>"
SELLER_ADDRESS="<Your XRPL Testnet Seller Address>"
FLARE_RPC=https://coston2-api.flare.network/ext/bc/C/rpc
ETHERSCAN_API_KEY=
